html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #5647ae;
  --color-secondary: #c91c64;
  --color-white: #f0f0f0;
  --background-color: #121212;
  --color-grey: #2a2929;
  --color-grey-light: #545151;
}
