.tableContent {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  border: 1px solid var(--color-grey);
  padding: 12px;
}

.tableRow {
  display: grid;
  flex-direction: row;
  align-items: center;
  margin: 12px 0;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.tableCell {
  display: flex;
  font-weight: bold;
  flex-direction: column;

  flex-grow: 1;
}
